body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(rgba(30, 32, 37, 0.3), rgba(43, 26, 105, 0.3)), url('../Images/eduardo-soares-S-bDcSqbVrk-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Courgette', cursive;
}

.main-container {
    margin-top: 10vh;
}

img {
    display: block;
    margin: auto;
}

form {
    width: 80%;
    /* max-width: 330px; */
    padding: 10px;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 8px 16px 5px rgba(6, 0, 0, 0.3)
}

/* .nav-menu {
    display: flex;
} */

.tablinks {
    width: 50%;
}

.labels {
    display: flex;
    padding: 1px 5px;
    margin-top: 0px;
}

i {
    font-size: 20px;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    /* margin-top: 5px; */
}

.tab div {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.5s;
    text-align: center;
}

.tab div.active {
    background-color: #ccc;
}

.tabcontent {
    padding: 0px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    display: none;
    animation: fadeEffect 1s;
    /* z-index: 1; */
}

@keyframes fadeEffect {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width:600px) {
    form {
        width: 35%;
    }
}

.form-label-group {
    position: relative;
    margin-bottom: .5rem;
}

.form-label-group input, .form-label-group label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown)~label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

.form-label-group input:not(:-ms-input-placeholder)~label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}