body{
    background-color: #f2f2f2;
}
header {
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 11;
    width: 100%;
}

.nav1 {
    display: flex;
    align-items: center;
}

.nav1 h2 {
    font-family: 'Courgette', cursive;
}

.nav2 {
    width: 30%;
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav2 div {
    width: 25%;
}

.nav2 a {
    text-decoration: none;
    color: black;
}

.nav2 div:hover a {
    color: blue;
}

.nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    font-weight: normal;
}

.nav-items a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-items a:hover {
    background-color: #ddd;
}

.nav2 div:hover .nav-items {
    display: block;
}

.nav3 {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    border-radius: 30px;
    width: 30%;
}

.nav3 input {
    outline: none;
    padding-left: 10px;
    width: 100%;
}

.nav3 i {
    border-left: 1px solid gray;
    padding: 5px;
}

#c1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../Images/freestocks-_3Q3tsJ01nc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
}

#c2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/nathalia-rosa-rWMIbqmOxrY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
}

#c3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/artem-beliaikin-49mCO5ZRQDk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
}

.cp {
    word-spacing: 3px;
    letter-spacing: 3px;
    font-size: 18px;
}

#nav02 {
    display: none;
}

#nav02 .nav2 {
    display: flex;
    flex-direction: column;
}

.bars {
    width: 30px;
    height: 5px;
    transition: all 0.5s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.displa {
    display: block;
}

.navbar-collapse {
    display: none;
}
.step2{
    background-color: #fff;
}

.step2 h3 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.g-slide {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.p-slide {
    width: 30%;
    height: 40vh;
}

.p-slide img {
    width: 100%;
    height: 100%;
}

.p-slide:hover img {
    width: 102%;
    height: 102%;
    border: 2px solid blue;
    transition: 0.5s ease;
}

.overlay {
    position: absolute;
    bottom: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: black;
    width: 30%;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: left;
}

.txto {
    margin-top: 40%;
}

.img2 {
    width: 150px;
    height: 200px;
}
.tolu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temi:hover {
    box-shadow: 0px 5px 5px 5px rgba(6, 0, 0, 0.1);
    border-radius: 15px;
}
.add-cart{
    visibility: hidden;
}
.temi:hover .add-cart{
    visibility: visible;
}

@media screen and (max-width:800px) {
    #c1, #c2, #c3 {
        height: 50vh;
    }
    #nav01 {
        display: none;
    }
    #nav02 {
        display: flex;
    }
    .g-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p-slide {
        width: 80%;
    }
    .step3{
        text-align: center;
    }
    .step3 ul{
        list-style: none;
    
        padding: 0px;
    }
    .step3 h4{
        text-align: center;
    }
}